@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.loading-frame {
    width: 100%;
    height: 100%;
    background: #4a4a4a;
    background: linear-gradient(90deg,rgba(74, 74, 74, 0.26) 0%, rgba(201, 201, 201, 1) 60%);
    animation: bg-pan-left 0.5s linear infinite alternate both;
}