@import "tailwindcss";



:root {
  --font-heading: 'Scheherazade New', serif;
  --font-body: 'Lato', sans-serif;
  --font-heading-clr: #3a7d61;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
  color: #2b2b2b;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 400; /* Scheherazade looks better lighter */
  letter-spacing: 0.06em;
  margin: 0 0 0.5em 0;
  color: #1f1f1f;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-title,
.section-title,
.display-title {
  font-family: var(--font-heading);
  font-weight: 300;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--font-heading-clr);
}

p, li, a, span {
  font-family: var(--font-body);
  font-weight: 300;
  letter-spacing: 0.02em;
}

button,
input,
textarea,
select {
  font-family: var(--font-body);
  font-weight: 200;
  letter-spacing: 0.04em;
}
button {
  cursor: pointer;
}

.bg-clr-main {
  background-color: var(--font-heading-clr);
}

.border-clr-main {
  border: 1px solid var(--font-heading-clr);
}

.button1 {
  background-color: white;
  color: var(--font-heading-clr);
  border: 1px solid var(--font-heading-clr);
  padding: 5px 20px;
}
.button1:hover {
  background-color: var(--font-heading-clr);
  color: white;
  transition: .5s;
}